# `Olist Sales Analysis`

`Olist is a Brazilian e-commerce platform that connects small and medium-sized businesses to ``customers across Brazil. The platform operates as a marketplace, where merchants can list ``their products and services and customers can browse and purchase them online.`

`The Olist sales dataset available on Kaggle is a collection of anonymized data about orders placed on the Olist platform between January 2017 and August 2018. It contains a wide range of information about each order, including the order date, product details, payment and shipping information, customer and seller IDs, and customer reviews. The dataset also includes information about the sellers who list their products on Olist and data on customer behavior and demographics. The dataset is designed to help analysts and researchers better understand Brazil's e-commerce landscape and identify growth and optimization opportunities.  
`

### **Business Questions to help Olist gain better insights into their e-commerce platform and optimize available opportunities for growth**

## **1: What is the total revenue generated by Olist, and how has it changed over time?**

In [21]:
SELECT ROUND(SUM(op.payment_value), 2) Total_Revenue
FROM [OlistBusiness].[dbo].[olist_orders_dataset] AS orders 
INNER JOIN [OlistBusiness].[dbo].[olist_order_payments_dataset] AS op
    ON (orders.order_id = op.order_id)
WHERE orders.order_status = 'delivered' OR orders.order_status = 'shipped';

SELECT YEAR(orders.order_purchase_timestamp) Years, 
       DATEPART(QUARTER, orders.order_purchase_timestamp) Quarters, ROUND(SUM(op.payment_value), 2) Total_Revenue
FROM [OlistBusiness].[dbo].[olist_orders_dataset] AS orders 
INNER JOIN [OlistBusiness].[dbo].[olist_order_payments_dataset] AS op
    ON (orders.order_id = op.order_id)
WHERE orders.order_status = 'delivered' OR orders.order_status = 'shipped'
GROUP BY YEAR(orders.order_purchase_timestamp), DATEPART(QUARTER, orders.order_purchase_timestamp)
ORDER BY Years, Quarters;

Total_Revenue
15599675.73

Years,Quarters,Total_Revenue
2016,3,136.23
2016,4,47833.08
2017,1,825050.51
2017,2,1469594.03
2017,3,1936082.71
2017,4,2770416.01
2018,1,3209937.08
2018,2,3310539.47
2018,3,2030086.61

## **2: How many orders were placed on Olist, and how does this vary by month or season?**

In [29]:
SELECT  COUNT(order_id) Total_Order_Placed FROM [OlistBusiness].[dbo].[olist_orders_dataset];

SELECT  MONTH(order_purchase_timestamp) Months, DATEPART(QUARTER, order_purchase_timestamp) Quarters,  COUNT(order_id) Total_Order_Placed  FROM [OlistBusiness].[dbo].[olist_orders_dataset]
GROUP BY MONTH(order_purchase_timestamp), DATEPART(QUARTER, order_purchase_timestamp)
ORDER BY Months;

Total_Order_Placed
99441

Months,Quarters,Total_Order_Placed
1,1,8069
2,1,8508
3,1,9893
4,2,9343
5,2,10573
6,2,9412
7,3,10318
8,3,10843
9,3,4305
10,4,4959
11,4,7544
12,4,5674

## **3: What are the most popular product categories on Olist, and how do their sales volumes compare to each other?**

In [53]:
-- SELECT TOP(5) * FROM OlistBusiness.dbo.olist_products_dataset;
-- SELECT TOP(5) * FROM OlistBusiness.dbo.olist_orders_dataset;
-- SELECT TOP(5) * FROM OlistBusiness.dbo.olist_order_items_dataset;
-- SELECT TOP(5) * FROM OlistBusiness.dbo.olist_order_payments_dataset;
-- SELECT TOP(5) * FROM OlistBusiness.dbo.product_category_name_translation;

SELECT TOP(10) pc.product_category_name_english, COUNT(ordersItems.order_id) Count_of_CAT, ROUND(SUM(ordersProd.payment_value), 2) SalesVolume  
FROM OlistBusiness.dbo.olist_order_payments_dataset ordersProd
JOIN OlistBusiness.dbo.olist_order_items_dataset ordersItems ON ordersProd.order_id = ordersItems.order_id
JOIN OlistBusiness.dbo.olist_products_dataset products ON ordersItems.product_id = products.product_id
JOIN OlistBusiness.dbo.product_category_name_translation pc ON pc.product_category_name = products.product_category_name
GROUP BY pc.product_category_name_english
ORDER BY SalesVolume DESC;

product_category_name_english,Count_of_CAT,SalesVolume
bed_bath_table,11823,1712553.67
health_beauty,9972,1657373.12
computers_accessories,8082,1585330.45
furniture_decor,8744,1430176.39
watches_gifts,6201,1429216.68
sports_leisure,8945,1392127.56
housewares,7355,1094758.13
auto,4379,852294.33
garden_tools,4574,838280.75
cool_stuff,3987,779698

## **4: What is the average order value (AOV) on Olist, and how does this vary by product category or payment method?**